<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dev Environment</title>
    </head>
    
    <h1> Billing Page</h1> 
    
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title>Billing Forecast</title>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>
    
    <body>
        <canvas id = "linechart", width = "900", height = "500"></canvas>
        <script>
            var ctx = document.getElementById("linechart").getContext("2d")
            var linechart = new Chart(ctx, {
              type: "line", 
              data: {
                labels: {{ time_label | safe }}
                datasets: [{label: "cost", data: {{ cost | safe }}, fill: false, borderColor: "rgb(75, 192, 192)"}] 
              },
              options: {
                  responsive: false 
              }
            });
        </script>
    </body>
      
</html>
