<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prediction</title>
</head>

<h1> The input configs</h1>

<body>
{% for key,value in form_data.items() %}
<h3> {{key}}: {{value}}</h3>
{% endfor %}
</body>

<h2>Estimated Price Range</h2>
<h3>{{pred | safe}}</h3>

<!--<body>-->
<!--{% for table in table_pred %}-->
<!--{{title_pred[loop.index]}}-->
<!--{{ table|safe }}-->
<!--{% endfor %}-->
<!--</body>-->

<!--<body>-->
<!--{% for key,value in probs.items() %}-->
<!--<h3> {{key}}: {{value}}</h3>-->
<!--{% endfor %}-->
<!--</body>-->

</html>