<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dev Environment</title>
    </head>
    
    <h1> Welcome to the new app (dev branch)!</h1>

    <h2>
    This is for mobile price range prediction
    </h2>
        
    <h1> Please enter the mobile phone parameters below</h1>

    <form action="/" method = "POST">
        {% for s in var_list %}
        <p>{{s | safe}} <input type = "text" name = {{s}} /></p>
        {% endfor %}
        <p><input type = "submit" value = "Submit" /></p>
    </form>


    
    <body>
    {% for table in table1 %}
                {{title1[loop.index]}}
                {{ table|safe }}
    {% endfor %}
    </body>

    <body>
    {% for table in table2 %}
                {{title2[loop.index]}}
                {{ table|safe }}
    {% endfor %}
    </body>
    

</html>

